footer{
    background-color:  white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: relative;
    bottom: 0;
    text-align: center;
}

/* Mobile responsive */
@media only screen and (min-width: 320px) and (max-width: 480px) { 
    footer{
        position: static;
    }
}